<div id="content">
  <div class="shopify-section faq_bg flex justify-center items-center font-moderat">
    <div class="max-w-[732px] flex flex-col">
      <div class="flex justify-center items-center mx-16 mt-32 mb-24">
        <h2 class="font-bold text-[7rem] leading-none text-center">
          Frequently Asked Questions
        </h2>
      </div>
      <div class="mb-32">
        <button class="accordion">How does it work?</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet,
          </p>
        </div>
        <button class="accordion">When’s the best time to take this product?</button>
        <div class="panel">
          <p>Enjoy Ü Relax before, during or after a stressful situation to help you loosen up. To feel the full effects and a deeper sense of calm, we recommend taking Ü Relax on an empty stomach.</p>
        </div>
        <button class="accordion">Does Ü Relax work better than other products?</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet,
          </p>
        </div>

        <button class="accordion">What if I’m not happy with the blend?</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet,</p>
        </div>

        <button class="accordion">What if I’m not happy with the blend?</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet,</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  const mem = () => {
    var list;
    list = document.querySelectorAll("li.select-option label[title='6-Pack']");
    for (var i = 0; i < list.length; ++ i) {
      list[i].classList.add('cf');
    }
    console.log('meme')
  }
  setTimeout(mem, 0)
</script>
{% style %}
  .faq_bg {
    background: {{ section.settings.faq-bg }}
  }
  .accordion {
    background-color: white;
    color: #242424;
    cursor: pointer;
    padding: 0 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 21px;
    line-height: 60px;
    transition: 0.4s;
    margin: 3px 0;
  }

  .active + .panel {
    padding-bottom: 60px;
    padding-top: 20px;
    top: -3px;
    display: block;
  }

  .accordion:after {
    content: '\002B';
    color: #242424;
    float: right;
    margin-left: 0;
    font-size: 24px
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    position: relative;
    display: none;
    padding: 0 18px;
    color: #242424;
    background-color: white;
    font-size: 18px;
    line-height: 150%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
{% endstyle %}

<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
      }
    });
  }
</script>

{% schema %}
  {
    "name": "FAQ",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Frequently Asked Questions"
      }, {
        "type": "color",
        "id": "faq-bg",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "FAQ",
        "category": "Text"
      }
    ]
  }
{% endschema %}