<div id="content">
  <div class="shopify-section flex relative">
    <div class="flex flex-row max-w-[1240px] relative">
      <div class="flex flex-row justify-start items-start">
        <div class="mr-14">
          {{ section.settings.img_1 | image_url: width: 201 | image_tag }}
        </div>
        <div class="">
          {{ section.settings.img_2 | image_url: width: 201 | image_tag }}
        </div>
      </div>
      <div class="flex flex-col mx-16 relative">
        <h2 class="font-bold text-[7rem] leading-none">
          {{ section.settings.heading }}
        </h2>
        <p class="mt-7 text-[18px] leading-normal tracking-wide">
          {{ section.settings.heading_desc }}
        </p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Fifth Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "heading_desc",
        "label": "Heading description"
      },
      {
        "type": "image_picker",
        "id": "img_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "img_2",
        "label": "Image 2"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Fifth Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}