<div id="content">
  <div class="shopify-section flex relative justify-center footer_bg">
    <div class="flex justify-center items-center mx-20 my-28 max-w-[1338px]">
      <div class="flex-1 justify-start items-center text-white">
        <div>
          {{ section.settings.logo | image_url: width: 120 | image_tag }}</div>
        <div class="mt-8 text-[14px] leading-normal mr-96">
          <p>*Statements made in this site have not been evaluated by the FDA. These products are not intended to diagnose, treat, cure, or prevent any disease.</p>
        </div>
      </div>
      <div class="flex-1 justify-start items-start flex flex-row text-white">
        <div class="flex-1 flex flex-col text-white ml-16">
          <div>
            <h4 class="text-white mb-8 font-mono">Company</h4>
          </div>
          <div class="text-[14px] leading-normal">
            <p class="mb-6 font-mono">Shop</p>
            <p class="mb-6 font-mono">Oür Story</p>
            <p class="mb-6 font-mono">The Science</p>
            <p class="font-mono">Reviews</p>
          </div>
        </div>
        <div class="flex-1 flex flex-col text-white">
          <div>
            <h4 class="text-white mb-8">Support</h4>
          </div>
          <div class="text-[14px] leading-normal">
            <p class="mb-6">FAQ’s</p>
            <p class="mb-6">Contact Üs</p>
            <p class="mb-6">Return Policy</p>
            <p>My Account</p>
          </div>
        </div>
        <div class="flex-1 flex flex-col text-white">
          <div>
            <h4 class="text-white mb-8">Legal</h4>
          </div>
          <div class="text-[14px] leading-normal">
            <p class="mb-6">Privacy Policy</p>
            <p class="mb-6">Terms Of Use</p>
            <p>Accessibility</p>
          </div>
        </div>
        <div class="flex-1 flex flex-col text-white">
          <div>
            <h4 class="text-white mb-8">Social</h4>
          </div>
          <div class="text-[14px] leading-normal">
            <p class="mb-6">Facebook</p>
            <p>Instagram</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .footer_bg {
    background: {{ section.settings.footer-bg }}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Footer Section",
    "settings": [
      {
        "type": "color",
        "id": "footer-bg",
        "label": "Background"
      }, {
        "type": "image_picker",
        "id": "logo",
        "label": "Footer Logo"
      }
    ],
    "presets": [
      {
        "name": "Footer Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}