<div id="content">
  <div class="shopify-section flex relative justify-center footer_bg">
    <div class="flex justify-center items-center mx-20 my-28">
      <div class="flex-1 justify-start items-center max-w-[60%]">
        <div>
          {{ section.settings.img_2 | image_url: width: 120 | image_tag }}</div>
        <p>*Statements made in this site have not been evaluated by the FDA. These products are not intended to diagnose, treat, cure, or prevent any disease.</p>
      </div>
      <div class="flex-1 justify-start items-center flex flex-row">
        <div class="flex-1">dsf</div>
        <div class="flex-1">dsf</div>
        <div class="flex-1">dsf</div>
        <div class="flex-1">dsf</div>
      </div>
    </div>
  </div>
</div>

{% style %}
  .footer_bg {
    background: {{ section.settings.footer-bg }}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Footer Section",
    "settings": [
      {
        "type": "color",
        "id": "footer-bg",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Footer Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}