<div id="content">
  <div class="shopify-section">
    <div class="container aboutus">
      <header></header>
      <div class="video">
        <div class="responsive-video">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/xxxxxxx"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
      <div class="textcontent"></div>
      <div class="mission">
        <ul></ul>
      </div>
    </div>

    <div class="creds"></div>
    <div class="pageBanner">
      <div class="bannerText"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Second Section",
    "settings": [
      {
        "id": "cta_1_title",
        "type": "text",
        "label": "CTA 1 Title",
        "default": "Dryups Specials"
      }, {
        "type": "image_picker",
        "id": "thumb_1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "thumb_2",
        "label": "Image 2"
      }
      {
        "type": "image_picker",
        "id": "thumb_3",
        "label": "Image 3"
      }
      {
        "type": "image_picker",
        "id": "thumb_4",
        "label": "Image 4"
      }
      {
        "type": "image_picker",
        "id": "thumb_5",
        "label": "Image 5"
      }
    ],
    "presets": [
      {
        "name": "Second Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}