<div id="content">
  <div class="shopify-section">
    <div class="container aboutus">
      <div class="video"></div>
      <div class="textcontent"></div>
      <div class="mission">
        <ul></ul>
      </div>
    </div>

    <div class="creds"></div>
    <div class="pageBanner">
      <div class="bannerText"></div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Third Section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading"
      },
      {
        "type": "text",
        "id": "heading_desc",
        "label": "Heading description"
      },
      {
        "type": "text",
        "id": "label_1_head",
        "label": "Label 1 Heading"
      },
      {
        "type": "text",
        "id": "label_1_desc",
        "label": "Label 1 Description"
      }, {
        "type": "text",
        "id": "label_2_head",
        "label": "Label 2 Heading"
      }, {
        "type": "text",
        "id": "label_2_desc",
        "label": "Label 2 Description"
      }, {
        "type": "text",
        "id": "label_3_head",
        "label": "Label 3 Heading"
      }, {
        "type": "text",
        "id": "label_3_desc",
        "label": "Label 3 Description"
      }, {
        "type": "color",
        "id": "background",
        "label": "Background"
      }
    ],
    "presets": [
      {
        "name": "Third Section",
        "category": "Text"
      }
    ]
  }
{% endschema %}